* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(208, 89, 109, 1) 0%, rgba(231, 156, 118, 1) 90%);
    font-family: sans-serif;
    color: white;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-content: center;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.flex-container {
    padding: 0;
    margin: 50px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.forecast {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.forecast-items {
    margin: 10px;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
}

.day1,
.day2,
.day3,
.day4 {
    text-align: center;
}